
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Caveat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 80px 0 0;
}

.box {
    padding: 1%;
}

h1,
h2,
h3 {

    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;


}


h2 {

    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;

}

h3 {
    font-size: 110%;
    margin-bottom: 15%;
}


#double-line {
    margin-bottom: 5%;

}

h2:after {
    display: block;
    height: 2px;
    background-color: #161ede;
    content: " ";
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;

}

.row p a {

    color: #2F3061;


}


p a:hover {

    text-decoration: none;
}


/* --------        PARAGRAPHS       -----------*/

.long-copy {

    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* --------        ICONS       -----------*/


/* --------        IMAGES        -----------*/

.movie-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;


}

/* --------        BUTTONS        -----------*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.4s, border 0.4s, color 0.4s;
}

.btn-full:link,
.btn-full:visited {

    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;

}

.btn-ghost:link,
.btn-ghost:visited {
    background-color: #2F3061;
    border: 1px solid #2F3061;
    color: #fff;
    margin-top: 20px;
}


.btn-full:hover,
.btn-full:active {
    background-color: #2F3061;
    border: 1px solid #e67e22;
    color: #fff;

}

.btn-ghost:hover,
.btn-ghost:active {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}


/* --------        LOGO       -----------*/

.logo {
    height: 100px;
    width: auto;
    float: left;

    /* --------        MENU       -----------*/


}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
    margin-right: 3%;

}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 6px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;

}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;


}


/* --------        HEADER        -----------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/header.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}


.header-text-box {
    position: absolute;
    width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* --------       FOOTER       -----------*/
footer {
    font-size: 90%;
    background: #343434;
    color: #F7FFF7;
    text-align: center;


}

footer h3 {

    margin-top: 1%;
    margin-bottom: 3%;
    font-size: 90%;
}

footer li a {
    color: yellow;
    font-size: 70%;

}

footer p {
    font-size: 70%
}


.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list a {
    padding: 15px;
    display: inline-block;
}


@media screen and (min-width: 750px) {
    header, footer {
        text-align: center;
    }

    .row img {
        float: left;
        margin-right: 20px;
    }

    .contact-list {
        display: flex;
        justify-content: center;
    }

    .buttons {
        text-align: center;

    }
}

@media screen and (max-width: 749px) {
    nav .main-nav {
        text-align: center;

    }

    header h1 {
        text-align: center;
        font-size: 110%;
    }

    h1 {
        font-size: 50%;
        line-height: 0.9;
        margin-bottom: 20px;
    }

    h2 {
        line-height: 1;
    }

    .contact-list a {
        padding: 5px;
    }

    .buttons {
        text-align: center;
        font-size: 80%;
    }

    .main-nav{
        font-size:80% ;
    }
    img {
        float: left;

    }
}
